//colors// 
$primary-color: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white:#fff;
$color-black:#000;
$color-light-gray:#f7f7f7;
//colors// 


// grid // 
$gridCount: 12;
    $grid-width:118rem;
    $grid-vertical: 8rem;
    $grid-horizontal: 1.5rem;
// grid // 


// font /
$defaultFontSize:1.6rem;
// font /